@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700;800&display=swap');
html {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
}
h1 {
    margin: 0;
}
p {
    font-size: 18px;
}
span {
    display: flex;
    margin-right: 40px;
    padding: 0px 10px;
}
img {
    padding: 0px 6px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
    border: none;
}
.result{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 30px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.circle {
    margin: auto;
    padding: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.f7s {
    text-align: left;
    font-weight: 700;
    font-size: 25px;
}
.scores-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
    border-radius: 7px;
    margin-bottom: 5px;
}
.num {
    padding: 0px 10px;
    margin-left: 30px;
    display: flex;
}
.reaction span {
    color: hsl(0, 100%, 67%);
}
.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}
.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}
.memory span{
    color: hsl(39, 100%, 56%);
}
.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal span{
    color: hsl(166, 100%, 37%);
}
.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}
.visual span{
    color: hsl(234, 85%, 45%);
}
.continue {
    margin-top: 20px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
}
.continue:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.continue:active{
    scale: 0.9;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
footer {
    margin: 3rem;
}
/* Utility Classes */
.t-pb{
    color: hsla(221, 100%, 96%);
}
.t-ll{
    color: hsl(241, 100%, 89%);
}
.t-dgb{
    color: hsl(224, 30%, 27%);
}
.t-lgb{
    color: hsl(224, 30%, 27%,0.4);
}
.f5 {
    font-weight: 500;
}
.f7 {
    font-weight: 700;
}
.f8 {
    font-weight: 800;
    font-size: 64px;
}
.f24 {
    font-size: 24px;
}

.m-6{
    margin: 6px;
}
.mb-3{
    margin-bottom: 3rem;
}


/* Media Queries */
/* Large Screens */

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 0;
        box-shadow: none;
        padding: 0;
        max-width: 100%;
    }
    .result {
        width: 100%;
        border-radius: 0 0 40px 40px;
        margin: 0;
        padding: 40px 0px;
    }
}